@media(min-width: 1600px)
{
    .cards
    {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gutter);
    }

    .card{
        grid-column: span 4;
    }

    .card > img
    {
        width:100%;
        max-height: 364px;
        display: block;
    }

    .content
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background: #FFFFFF;
    }

    .inline
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}
