@media(max-width:800px),(max-width: 320px) and (min-width:320px)
{
    footer
    {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: var(--vertical-space-large);
    }

    .newsletter
    {
        height: 350px;
        display: grid;
        justify-items: center;
        background-color: #000000;
    }

    .newsletter h2,
    .newsletter p,
    .newsletter label
    {
        color: #FFFFFF;
    }

    .newsletter .footer-content
    {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        min-width: 320px;
        gap: var(--gutter);
        max-width: 320px;
    }

    .footer-heading {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        flex-direction: column;
        gap: 20px;
        grid-column-start: 2;
        grid-column-end: span 10;
        justify-items: center;
        align-items: center;
    }

    .footer-heading > p, .footer-heading > h2
    {
        grid-column: span 10;
    }

    .newsletter form {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .email
    {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: span 10;
    }

    .newsletter form > input
    {
        grid-column: span 2;
        grid-column-end: 7;
    }

    .input {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 20px;
    }

    .input > input
    {
        background-color: #000000;
        color: #FFFFFF;
    }

    .footer-email
    {
        grid-column: span 10;
        border: 0;
        border-bottom: solid white 1px;
    }

    .footer-submit
    {
        height: 42px;
        grid-column-start: 3;
        grid-column-end: span 6;
        border-radius: 0px;
    }

    .social-media
    {
        display: grid;
        justify-content: center;
        height:350px;
    }

    .social-media-content
    {
        border-top: solid black 1px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
        min-width: 1600px;
        gap: var(--gutter);
    }

    .social-media-header
    {
        display: flex;
        align-items: center;
    }

    .social-media-links > img
    {
        max-height: 42px;
    }

    .social-media-links
    {
        display: flex;
        gap: var(--gutter);
        align-items: center;
    }
}
