@media(max-width:800px),(max-width: 320px) and (min-width:320px)
{
.see-more {
        height: 200px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .see-more > button
    {
        grid-column-start: 3;
        grid-column-end: span 8;

        height: 42px;
        border-radius: 0px;
        border: solid 1px #e3cdb1;
        background-color: #f6f6f6;
    }

    .first-line,
    .second-line
    {
        display: none;
    }
}
