@media(max-width:800px),(max-width: 320px) and (min-width:320px)
{
    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .header-wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAFAFA;
        gap: var(--gutter);

        background-image: url("../images/pizza.png");
        background-position: top left;
        object-fit: contain;
        height: 450px;
        background-repeat: no-repeat;
        background-size: 633px 850px;
        background-attachment: fixed;
        width: 100vw;
    }

    .nav-wrapper
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: sticky;
        top: 0;

        background-color: #FFFFFF;
    }

    .nav-content
    {
        min-width: 320px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap:20px;
        align-items: center;
    }

    .content-wrapper
    {
        display: grid;
        gap: var(--gutter);
    }
}
